font-family: 'Josefin Sans', sans-serif;
.img-banner{}
#ban-img{
width: 300px;
}
.head-section{
    background-color: rgba(247, 172, 185,0.3);
    display: flex;
    height: 360px;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    margin: -10px;
}
.btn{
    background-color:rgb(220, 110, 110);
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    color: white;
}
.banner-disc{
    text-align: center;
    width: 450px;
}
.paragraph{
    justify-content:space-around ;
    font-size: 14px;
}
.title{font-size: 30px;
    font-weight: 400;
}
.featutes{
    justify-content:center ;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}
.description{
    display: flex;
    justify-content:space-around;
    margin-right: 20%;
    margin-left: 20%;
    padding: 20px;
}
.des-pic1{
    background-color: rgb(196, 128, 196);
    border-radius: 200px 200px 0px 0px;
    width: 464px;
    height: 400px;
}
.des-pic2{
    background-color:rgb(207, 231, 241);
    border-radius: 200px 200px 0px 0px;
    width: 464px;
    height: 400px;
    margin-left: 8px;

}
.des-pic3{
    background-color:rgb(227, 233, 233);
    border-radius: 200px 200px 0px 0px;
    width: 464px;
    height: 400px;
    margin-left: 8px;
}
.flower{
    text-align: center;
}
.new-sec{
    display: flex;
    justify-content: space-around;
    background-color: rgba(166, 214, 234,0.7);
    height: 300px;
    margin: -10px;
    margin-top: 30px;
    align-items: center;

}
.off{
    color: rgb(248, 147, 181);

}
.btn-2{
    background-color:rgb(220, 110, 110);
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    color: white;
}
.img-group{
    display: flex;
    margin: 20px 10px 100px 100px;
    gap: 10px;
    
}
.img-22{
    height: 400px;
    width: 400px;
    display: flex;
}